{% block enform_post %}

	{% for key,data in dummyData.fields %}
		{% set errorMessage = __( 'This field is required', 'planet4-engagingnetworks' ) %}

		{% if dummyData.supporter %}
			{% if data.name in supporter_fields_map %}
				{% set value = dummyData.supporter[ supporter_fields_map[ data.name ] ] %}
			{% else %}
				{% set value = '' %}
			{% endif %}
		{% else %}
			{% set value = '' %}
		{% endif %}

		{% if data.type == 'email' %}
			{% set errorMessage = __( 'Please enter a valid e-mail address.', 'planet4-engagingnetworks' ) %}
		{% elseif data.type == 'country' %}
			{% set errorMessage = __( 'Please select a country.', 'planet4-engagingnetworks' ) %}
		{% endif %}

		{% if 'en_page_id' != key and 'en_form_style' != key and '' != data.value %}
			<div class="en__field en__field--{{ 'country' == data.type ? 'select' : 'text' }} en__field--{{ data.id }} en__field--{{ data.name }}">
				<div class="en__field__element en__field__element--text form-group" style="display: block;">
					{% if fields.en_form_style == 'side-style' or true %}
						<label class="en__field__top__label">
							{{ data.label }}
						</label>
					{% endif %}
					{% if 'text' == data.type or 'email' == data.type %}
						<input id="en__field_supporter_{{ data.name }}"
							name="supporter.{{ data.name }}"
							type="{{ 'phoneNumber' == data.name ? 'tel' : data.type }}"
							class="en__field__input en__field__input--text form-control"
							value="{{ value }}"
							data-errormessage="{{ errorMessage }}"
							{% if false and fields.en_form_style != 'side-style' %}
								placeholder="{{ data.label }}{{ 'Birth' in data.name ? ' (yyyy-mm-dd)' : '' }}{{ 'true' == data.mandatory ? '*' : '' }}"
							{% endif %}
							{{ 'true' == data.mandatory or 'email' == data.type ? 'required' : '' }}
							size="40" />
					{% elseif 'country' == data.type %}
							{% include 'country_select.twig' with { errorMessage: errorMessage } %}
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}

	{% for key,value in fields %}
		{{ value }}<br />
	{% endfor %}
	<br />
	{% for key,value in questions %}
		{{ value }}<br />
	{% endfor %}
	<br />
	{% for key,value in optins %}
		{{ value }}<br />
	{% endfor %}
{% endblock %}
