{% block selected_meta_box %}
	<table id="en_form_selected_fields_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		<tr valign="top">
			<th>{{ __( 'Name', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Hidden', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Required', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Label', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Type', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Value', 'planet4-engagingnetworks' ) }}</th>
		</tr>
		</thead>
		<tfoot>
		<tr valign="top">
			<th>{{ __( 'Name', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Hidden', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Required', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Label', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Type', 'planet4-engagingnetworks' ) }}</th>
			<th>{{ __( 'Value', 'planet4-engagingnetworks' ) }}</th>
		</tr>
		</tfoot>
		{% for component in components %}
			<tr valign="top">
				<td>
					{{ component.name }}
				</td>
				<td>
					{{ component.hidden }}
				</td>
				<td>
					{{ component.required }}
				</td>
				<td>
					{{ component.label }}
				</td>
				<td>
					{{ component.type }}
				</td>
				<td>
					{{ component.value }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
