{% block selected_meta_box %}
	<table id="en_form_selected_fields_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead style="text-align: left;">
			<tr valign="top" align="left">
				<th></th>
				<th>{{ __( 'Name', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'EN Type', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Required', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Label', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Type', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Actions', 'planet4-engagingnetworks' ) }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		{% for component in components %}
		{% endfor %}
		<tfoot style="text-align: left;">
			<tr valign="top">
				<th></th>
				<th>{{ __( 'Name', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'EN Type', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Required', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Label', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Type', 'planet4-engagingnetworks' ) }}</th>
				<th>{{ __( 'Actions', 'planet4-engagingnetworks' ) }}</th>
			</tr>
		</tfoot>
	</table>
	<input type="hidden" id="p4enform_fields" name="p4enform_fields" value=""/>
{% endblock %}
