{% block settings_content %}

    <div id="settings_div" class="wrap">
        <h2>{{ __( 'Settings', 'planet4-engagingnetworks' ) }}</h2>
    </div>

    {{ fn( 'settings_errors' ) }}

    <form id="p4en_main_settings_form" name="p4en_main_settings_form" method="post" action="options.php"> {# ../../../../wp-admin/options.php #}

        {{ fn( 'settings_fields', 'p4en_main_settings_group' ) }}
        {{ fn( 'do_settings_sections', 'p4en_main_settings_group' ) }}

        <table class="form-table">
            <tr valign="top">
                <th>{{ __( 'Language', 'planet4-engagingnetworks' ) }}:</th>
                <td>
                    <select id="p4en_lang" name="p4en_main_settings[p4en_lang]">
                        <option selected disabled>- {{ _e( 'Select Language', 'planet4-engagingnetworks' ) }} -</option>
                        {% for key, language in available_languages %}
                            {% if key == settings.p4en_lang %}
                                <option value="{{ key|e('html_attr') }}" selected >{{ language|e('html') }}</option>
                            {% else %}
                                <option value="{{ key|e('html_attr') }}">{{ language|e('html') }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'Public', 'planet4-engagingnetworks' ) }} API:</th>
                <td>
                    <input id="p4en_public_api" name="p4en_main_settings[p4en_public_api]" value="{{ settings.p4en_public_api|e('html_attr') }}" size="50" placeholder="{{ __( 'Enter your Engaging Networks account public token', 'planet4-engagingnetworks' ) }}" />
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'Private', 'planet4-engagingnetworks' ) }} API:</th>
                <td>
                    <input id="p4en_private_api" name="p4en_main_settings[p4en_private_api]" value="{{ settings.p4en_private_api|e('html_attr') }}" size="50" placeholder="{{ __( 'Enter your Engaging Networks account private token', 'planet4-engagingnetworks' ) }}" />
                </td>
            </tr>
        </table>
        {{ fn( 'submit_button', __( 'Save Changes', 'planet4-engagingnetworks' ), 'primary', 'p4en_main_settings_save_button' ) }}
    </form>
    <div class="clear"></div>

{% endblock %}